<h3>Total Visitors :<%= @space.visitors.count %></h3>

<h3>Visitors today :<%= @space.visitors.where('created_at >= ?', Date.today).count  %></h3>
<h3>Visitors Yesturday :<%= @space.visitors.where("DATE(created_at) = ?", Date.today-1).count  %></h3>
